

@media (min-width: 1400px) {
	.container {
	    width: 1300px;
	}
}

@media (min-width: 1700px) {
	.container {
	    width: 1600px;
	}	
}

@media (min-width: 1900px) {
	.container {
	    width: 1800px;
	}	
}

th, td {
    padding: 5px;
    text-align: right;
}

.pad-bottom {
	margin-bottom: 5px;
}

.event-danger {
  background-color: #f05123 !important;
}

.event-hide {
	display: none  !important;
}
.dh-event-hide {
	display: none  !important;
}

.form-err {
	color:red
}


.event-evt-large-email {
  background-color: #ff0066 !important;
}
.dh-event-evt-large-email {
	background-color: #ff0066 !important;
	color:white;
}

.event-evt-normal-email {
  background-color: #1e90ff !important;
}
.dh-event-evt-normal-email {
  background-color: #1e90ff !important;
}

.event-evt-website {
  background-color: #006400 !important;
}
.dh-event-evt-website {
  color: white;
  background-color: #006400 !important;
}

.event-evt-user-portal {
	background-color: #f7ecb5 !important;
}
.dh-event-evt-user-portal {
	background-color: #f7ecb5 !important;
}

.event-evt-user-portal {
	background-color: #f7ecb5 !important;
}
.dh-event-evt-user-portal {
	background-color: #f7ecb5 !important;
}

.event-evt-marketing-asset {
	background-color: #ffff00 !important;
}
.dh-event-evt-marketing-asset {
	background-color: #ffff00 !important;
}

