<div class="container page-container" style="margin-left: 0px">

  <div class="row">
    <div class="col-md-12">

      <table border=1 class="table table-condensed examday-reminder-area">

        <tr>
          <td>
            <b><a href="" ng-click="sortItems('Display_Invoice_Number__c')">Invoice #</a></b>
          </td>
          <td style="min-width:100px;">
            <b>GARP ID</b>
          </td>
          <td style="min-width:100px;">
            <b>Country</b>
          </td>
          <td style="min-width:100px;">
            <b>State</b>
          </td>
          <td style="min-width:100px;">
            <b>PayPal Trans ID</b>
          </td>
          <td style="min-width:100px;">
            <b>Type</b>
          </td>
          <td style="min-width:100px;">
            <b>Payment Method</b>
          </td>
          <td style="min-width:100px;">
            <b>Company</b>
          </td>
          <td style="min-width:100px;">
            <b>Paid Date</b>
          </td>
          <td>
            <b>Total</b>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatch()">
            {{prod.Name}}<br>{{prod.Product2.ProductCode}}:{{prod.Product2.GL_Code__c}}<br><span ng-if="prod.Product2.Weight__c">{{prod.Product2.Weight__c}} lbs.</span>
          </td>

          <td ng-repeat="prod in prods | filter:criteriaMatchShip()">
            {{prod.Name}} Shipping<br>{{prod.Product2.ProductCode}}:{{prod.Product2.GL_Code__c}}<br><span ng-if="prod.Product2.Weight__c">{{prod.Product2.Weight__c}} lbs.
          </td>          
          <td>
            <b>Total</b>
          </td>
        </tr>

        <tr ng-repeat="opp in opps | filter:filterMatch() track by $index" emit-when="{event: 'allRendered', condition: $last}">
          <td>
            {{opp.Display_Invoice_Number__c}}
          </td>
          <td>
            {{opp.GARP_Member_ID__c}}
          </td>
          <td>
            {{opp.Shipping_Country__c}}
          </td>
          <td>
            {{opp.Shipping_State__c}}
          </td>
          <td>
            {{opp.trans.ChargentSFA__Gateway_ID__c}}
          </td>
          <td>
            {{opp.trans.ChargentSFA__Type__c}}
          </td>
          <td>
            {{opp.trans.ChargentSFA__Payment_Method__c}}
          </td>
          <td>
            {{opp.Company__c}}
          </td>
          <td>
            {{formatDate(opp.closeDate, "MM-DD-YYYY")}}
          </td>
          <td>
            <b>${{formatAmountDisplay(getRowTotal(opp))}}</b>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatch()">
            <div ng-if="getProductAmount(opp, prod)">
              ${{formatAmountDisplay(getProductAmount(opp, prod))}}
            </div>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatchShip()">
            <div ng-if="getProductAmountShipping(opp, prod)">
              ${{formatAmountDisplay(getProductAmountShipping(opp, prod))}}
            </div>
          </td>
          <td>
            <b>${{formatAmountDisplay(getRowTotal(opp))}}</b>
          </td>          
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
             <b>Totals</b>
          </td>
          <td>
              <b>${{formatAmountDisplay(getOppTotals())}}</b>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatch()">
            <b>${{formatAmountDisplay(getProdTotals(prod.Id))}}</b>    
          </td>

          <td ng-repeat="prod in prods | filter:criteriaMatchShip()">
            <div ng-if="getProductAmountShipping(opp, prod)">
            </div>
          </td>          
          <td>
            <b>${{formatAmountDisplay(getOppTotals())}}</b>
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>