<div class="container page-container" style="margin-left: 0px">

  <div class="row">
    <div class="col-md-12">

      <table border=1 class="table table-condensed examday-reminder-area">

        <tr>
          <td>
            <b>Invoice #</b>
          </td>
          <td style="min-width:100px;">
            <b>GARP ID</b>
          </td>
          <td style="min-width:100px;">
            <b>Country</b>
          </td>
          <td style="min-width:100px;">
            <b>State</b>
          </td>
          <td style="min-width:100px;">
            <b>PayPal Trans ID</b>
          </td>
          <td style="min-width:100px;">
            <b>Type</b>
          </td>
          <td style="min-width:100px;">
            <b>Company</b>
          </td>
          <td style="min-width:100px;">
            <b>Close Date</b>
          </td>
          <td>
            <b>Amount</b>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatch()">
            {{prod.Name}}<br>{{prod.Product2.ProductCode}}<br><span ng-if="prod.Product2.Weight__c">{{prod.Product2.Weight__c}} lbs.</span>
          </td>

          <td ng-repeat="prod in prods | filter:criteriaMatchShip()">
            {{prod.Name}} Shipping
          </td>          
        </tr>

        <tr ng-repeat="opp in opps | filter:filterMatch()" emit-when="{event: 'allRendered', condition: $last}">
          <td>
            {{displayId(opp)}}
          </td>
          <td>
            {{displayOpp(opp,'GARP_Member_ID__c')}}
          </td>
          <td>
            {{displayOpp(opp,'Shipping_Country__c')}}
          </td>
          <td>
            {{displayOpp(opp,'Shipping_State__c')}}
          </td>
          <td>
            {{getTransaction(opp,'ChargentSFA__Tokenization__c')}}
          </td>
          <td>
            {{getTransaction(opp,'ChargentSFA__Type__c')}}
          </td>
          <td>
            {{displayOpp(opp,'Company__c')}}
          </td>
          <td>
            {{formatDate(opp.closeDate, "MM-DD-YYYY")}}
          </td>
          <td>
            <b>${{formatAmountDisplay(getRowTotal(opp))}}</b>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatch()">
            <div ng-if="getProductAmount(opp, prod.Id)">
              ${{formatAmountDisplay(getProductAmount(opp, prod.Id))}}
            </div>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatchShip()">
            <div ng-if="getProductAmountShipping(opp, prod.Id)">
              ${{formatAmountDisplay(getProductAmountShipping(opp, prod.Id))}}
            </div>
          </td>
        </tr>
        <tr>
         

          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
             <b>Totals</b>
          </td>
          <td>
              <b>${{formatAmountDisplay(getOppTotals())}}</b>
          </td>
          <td ng-repeat="prod in prods | filter:criteriaMatch()">
            <b>${{formatAmountDisplay(getProdTotals(prod.Id))}}</b>    
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>