<div class="container page-container">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="btn-group">
        <button class="btn btn-primary ng-isolate-scope" ng-click="nextCalendar(-1)">
        Previous
        </button>
        <button class="btn btn-default ng-isolate-scope" ng-click="nextCalendar()">
        Today
        </button>
        <button class="btn btn-primary ng-isolate-scope" ng-click="nextCalendar(1)">
        Next
        </button>
      </div>
    </div>
    <br class="visible-xs visible-sm">
    <div class="col-md-4 text-center">
      <div class="btn-group">
        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-class="{active : vm.calendarView == 'year'}" ng-click="setView('year')">Year</label>
        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-class="{active : vm.calendarView == 'month'}" ng-click="setView('month')">Month</label>
        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-class="{active : vm.calendarView == 'week'}" ng-click="setView('week')">Week</label>
        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-class="{active : vm.calendarView == 'day'}" ng-click="setView('day')">Day</label>
      </div>
    </div>
    <div class="col-md-4 text-center">
			<div class="btn-group">
        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-class="{active : vm.filter == 'email'}" ng-click="setFilter('email')">Email</label>
        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-class="{active : vm.filter == 'all'}" ng-click="setFilter('all')">All</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">  
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>{{getCalendarTitle()}}</h2>
    </div>
    <div class="col-md-12 text-center">
      <mwl-calendar calendar-events="vm.events" calendar-view="vm.calendarView" calendar-current-day="calendarDay" calendar-control="calendarControl" calendar-event-click="" calendar-edit-event-html="" calendar-delete-event-html="" calendar-edit-event-click="" calendar-delete-event-click="" calendar-auto-open="false" , calendar-update="calendarUpdate"></mwl-calendar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">  
      &nbsp;
    </div>
  </div>
  <div style="width:500px" ng-if="vm.filter == 'all' && vm.events.length > 0">
	  <div class="row">
	    <div class="col-md-12">  
	      <b>Key</b>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-large-email" tooltip="Email"></span>
	    </div>
	    <div class="col-md-11">  
	      Large Email
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-normal-email" tooltip="Email"></span>
	    </div>
	    <div class="col-md-11">  
	      Normal Email
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-website" tooltip="Website"></span>
	    </div>
	    <div class="col-md-11">  
	      Website
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-user-portal" tooltip="User Portal"></span>
	    </div>
	    <div class="col-md-11">  
	      User Portal
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-salesforce-tool" tooltip="Salesforce Tool"></span>
	    </div>
	    <div class="col-md-11">  
	      Salesforce Tool
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-marketing-asset" tooltip="Marketing Asset"></span>
	    </div>
	    <div class="col-md-11">  
	      Marketing Asset
	    </div>
	  </div>
	</div>

  <div style="width:500px" ng-if="vm.filter == 'email' && vm.events.length > 0">
	  <div class="row">
	    <div class="col-md-12">  
	      <b>Key</b>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-large-email" tooltip="Large Email"></span>
	    </div>
	    <div class="col-md-11">  
	      Large Email
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-1">  
	      <span class="pull-left event event-evt-normal-email" tooltip="Normal Email"></span>
	    </div>
	    <div class="col-md-11">  
	      Normal Email
	    </div>
	  </div>
	</div>	
</div>