
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<style type="text/css">
${demo.css}
</style>

<div id="mainspin"></div>
<div class="container page-container">
 <div class="row">
    <div class="col-md-4">
      Exam:<br> <select id="reportTypeSelect" data-ng-model="rptData.currentReportType" name="reportType" ng-change="selectType()">
              <option ng-repeat="reportType in rptData.reportTypeList" value="{{reportType.reportId}}">{{reportType.name}}</option>
            </select>
    </div>
    <div class="col-md-2">
      Exam Type:<br> <select id="examTypeSelect" data-ng-model="rptData.currentExamType" name="examType" ng-disabled="rptData.disableExamType">
                    <option ng-repeat="examType in rptData.examTypeList" value="{{examType.value}}">{{examType.name}}</option>
                  </select>
    </div>
    <div class="col-md-2">

      Exam Month:<br> <select id="examMonthSelect" data-ng-model="rptData.currentExamMonth" name="examMonth" ng-disabled="rptData.disableExamMonth">
                    <option ng-repeat="examMonth in rptData.examMonthList" value="{{examMonth.value}}">{{examMonth.name}}</option>
                   </select>
    </div>
    <div class="col-md-2">

      Exam Year:<br> <select id="examYearSelect" data-ng-model="rptData.currentExamYear" name="examYear" ng-disabled="rptData.disableExamYear">
                    <option ng-repeat="examYear in rptData.examYearList" value="{{examYear.value}}">{{examYear.name}}</option>
                   </select>
    </div>
    <div class="col-md-2">
      <input type="checkbox" name="includeUnPaid" ng-model="includeUnPaid"> Include Unpaid<br>
      <button ng-click="refresh(false)">Graph</button>&nbsp;<button ng-click="refresh(true)">Refresh</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ng-if="fndRpt.reportType == 'table'" ui-grid="{ data: myData }" class="myGrid"></div>
      <div id="container" ng-if="fndRpt.reportType != 'table'" style="min-width: 310px; height: 1000px; margin: 0 auto"></div>
    </div>
  </div>
</div>
